body { 
   background-color: #FFFFFF;
   font-family:      Georgia, "Times New Roman", Times, serif; 
   font-size:        medium;
   margin:           0px;
}
header.top {
  background-color: #0099cc;
  margin: 10px 10px 0px 10px;
  height:           230px;
}
h1.logo {
  text-align: center;
  padding: 90px;
  color: #ffffff;
}
h1{
  text-align: center;
}
nav {
  background-color: #3399CC;
  margin: 10px 10px 10px 10px;
  font-size: 20px;
  padding: 10px 0px 10px 10px;
  font-style: italic; 
}
nav a {
  color: #ffffff;
}
section.main {
  background-color: #ffffff;
  margin: 10px 10px 10px 10px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}
.one{
  color: #ff0000;
}
.two{
  color: #008000;
}
.three{
  color: #FFFF00;
}
.four{
  color: #0000FF;
}
.five{
  color: #FFC0CB;
}
.six{
  color: #FF7F50;
}
.seven{
  color: #FF00FF;
}
.eight{
  color: #CD853F;
}
.nine{
  color: #800080;
}
.zero{
  color: #00FFFF;
}
footer{
  background-color: #3399CC;
  margin: 10px 10px 10px 10px;
  text-align: center;
  font-size: 25px;
  padding: 5px 0px 5px 0px;
}